.k-drawer-fields:not(:has(.k-field-name-link .k-link-input-toggle > .k-button-icon > .k-icon[data-type="page"])) .k-column:has(.k-field-name-anchor) {
  /* hide anchor field when link type is anything but "page" */
  display: none;
}


.k-drawer-fields:not(:has(.k-field-name-link .k-link-input-toggle > .k-button-icon > .k-icon:is([data-type="file"], [data-type="url"]))) .k-field-name-download {
  /* hide download field when link type is not "file" or "url" */
  display: none;
}

.k-drawer-fields:not(:has(.k-field-name-link .k-link-input-toggle > .k-button-icon > .k-icon:is([data-type="page"], [data-type="url"], [data-type="file"]))) .k-field-name-new_tab {
  /* hide new_tab field when link type is not "page", "url" or "file" */
  display: none;
}
